.w(@width){width:@width}
.h(@height){height:@height}
.w100(){width:100%;}
.h100(){height:100%;}
.block(){display: block;}
.inlineblock(){display:inline-block;vertical-align: middle;}
.textcenter(){text-align: center;}
.margincenter(){margin:0 auto;}
.relative(){position:relative;}
.abs(){position:absolute;}
.fixed(){position:fixed;}
.fixedcenter(){position:fixed;margin:auto;top:0;left:0;bottom:0;right:0}
.positioncenter(){position:absolute;margin:auto;top:0;left:0;bottom:0;right:0}
.noline(){text-decoration: none;.block}
.bg(@color){background-color:@color}
.border(@color){border:1px solid @color}
.border-box(){box-sizing:border-box;}
.border-radius(...){border-radius:@arguments}
.shadow(...){box-shadow:@arguments}
.left{float:left;}
.right{float:right;}
.clear{&:after{content:"";overflow:hidden;height:0;display:block;visibility: hidden;clear:both;}}
.nav(){
	ul{ 
		li{
			.left;
			a{.left;.block;}
			.clear;
		}
		.clear;
	}
}
		
/*******************************分隔线******************************/
#box{.w(200px);.h(200px);.bg(blue)}


