.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  content: "";
  overflow: hidden;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
/*******************************分隔线******************************/
